.dark.list {
    background-image: url("/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.dark.list::before {
    content: '';
    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
    top: -7px;
    left: -7px;
    right: -7px;
    bottom: -7px;
    background: inherit;
    position: absolute;
    z-index: -1;
}

.list {
    background-image: url("/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.list::before {
    content: '';
    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
    top: -7px;
    left: -7px;
    right: -7px;
    bottom: -7px;
    background: inherit;
    position: absolute;
    z-index: -1;
}

.profile img {
    border-style: solid;
    border-color: #CCCCCC;
    border-width: thick;
    transition: all 0.4s ease-out;
}

.profile img:hover {
    transition: all 0.25s ease-in;
    border-color: #FF8800;
}

.social-icons a {
    transition: all 0.4s ease-out;
}

.social-icons a:hover {
    transition: all 0.25s ease-in;
    color: #FF8800;
}

.social-icons a svg {
    height: 48px;
    width: 48px;
}

.profile_inner span {
    font-size: 24px;
}